PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=x5kiGbsV6kUDi-RiAgi7U_0ENapP5WmB
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB_NAME=postgres
HASH_SEED=edqsdqsdqdshrethrhrfdcvxbvcbmke6zh?f9gpro3hy8c!gY
